/* Все для Toast-сообщений */

.toasts__container {
    position: fixed;
    right: 0;
    bottom: 0;
}

.toast {
    margin: 6px 0;
    padding: 12px 18px;
    border-radius: 10px;
    color: #fff;
}

.error {
    background: #a40707;
}

.success {
    background: #50c878;
}